<link rel="stylesheet" href="thirdparty/reveal/css/reveal.min.css">
<link rel="stylesheet" href="thirdparty/reveal/css/theme/default.css" id="theme">
<script src="thirdparty/reveal/js/reveal.min.js"></script>
<!-- Wrap the entire slide show in a div using the "reveal" class. -->
<div class="reveal" style="position:absolute;x:0;y:0"> <!--does not seem to work without using style-->
    <!-- Wrap all slides in a single "slides" class -->
    <slideshow slides='slides' config='config'></slideshow>
</div>